/*Taj Hong 
March 18, 2025*/
header {
    background-color: #A8D6EB;
}
h1 {
    font-family: "Anton", "Times New Roman", serif;
}
h2 {
    font-size: 1.5em;
}
#value {
    background-color: #AEF0CC;
}
#example {
    background-color: #E3ADB9;
}
.none {
    text-decoration: none;
}
.under {
    text-decoration: underline;
}
.over {
    text-decoration: overline;
}
.strike {
    text-decoration: line-through;
}