@font-face {
    font-family: "Va11Halla";
    src: url("../fonts/CyberpunkWaifus.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262B44;
    font-family: 'Bodoni Moda', 'Bodoni', serif;
    color: #ffffff;
}

/*Audio*/
.player-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    gap: 1rem;
}

audio {
    display: none;
}

.jukebox {
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.2s ease;
    vertical-align: middle;
}

    .jukebox:hover {
        transform: scale(1.1);
    }

    .jukebox.paused {
        filter: brightness(0.6);
    }

#nowPlaying {
    font-family: 'Va11Halla', 'Bodoni Moda', serif;
    font-size: 16px;
    margin-top: 20px;
}
/*End Audio*/

/* Navbar */
nav {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background 0.3s;
}

nav li.active a {
    background-color: #8E3C60;
}

nav li a:hover {
    background-color: #632A43;
}
/*End of Navbar*/
main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-link {
    color:white;
}

.p-link:visited {
    color: #7ACDFF;
}

.p-link:hover {
    color: #7ACDFF;
}

.p-link:active {
    color: white;
}

.side-image {
    position: absolute;
    width: 200px;
    height: auto;
    z-index: 1;
}

.left {
    left: -60px;
    top: 0;
}

.image {
    position: center;
    width: 150px;
    height: auto;
}

.about-box {
    background-color: #23304E;
    padding: 40px;
    border-radius: 25px;
    max-width: 600px;
    text-align: center;
    z-index: 2;
    position: relative;
}

    .about-box h1 {
        font-family: 'Bodoni Moda', 'Bodoni', serif;
        font-size: 48px;
        color: #7ACDFF;
        margin-bottom: 20px;
    }

    .about-box p {
        font-family: 'Comic Sans MS', 'Comic Sans', cursive;
        font-size: 20px;
        line-height: 1.8;
        color: #ffffff;
    }
