:root {
    --nav-active: #8E3C60;
    --nav-hover: #632A43;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
}

body {
    background-color: #262B44;
    font-family: 'Bodoni Moda', 'Bodoni', serif;
    color: #ffffff;
}

/* Slideshow */
.slideshow-container {
    position: relative;
    max-width: 700px;
    max-height: 400px;
    margin: auto;
    padding-top: 40px;
}

.slide {
    display: none;
}

    .slide iframe {
        width: 700px;
        height:368px;
        border-radius: 10px;
        border: 3px solid rgba(168, 169, 172);
    }

.fade {
    animation: fadeEffect 1s ease;
}

@keyframes fadeEffect {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 12px;
    margin-top: -22px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
    transition: 0.2s;
}

    .prev:hover, .next:hover {
        color: #7ACDFF;
    }

.prev {
    left: 0;
}

.next {
    right: 0;
}
/*End of slideshow*/

/* Navbar */
nav {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background 0.3s;
}

nav li.active a {
    background-color: var(--nav-active);
}

nav li a:hover {
    background-color: var(--nav-hover);
}
/*End of Navbar*/

.container {
    max-width: 900px;
    width: 100%;
    margin: 40px auto 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About Box */
.about-box {
    background-color: #23304E;
    padding: 40px;
    border-radius: 25px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

    .about-box h1 {
        font-family: 'Bodoni Moda', 'Bodoni', serif;
        font-size: 48px;
        color: #7ACDFF;
        margin-bottom: 20px;
    }

    .about-box h3 {
        font-family: 'Bodoni Moda', 'Bodoni', serif;
        font-style: italic;
        font-size: 18px;
        color: #9E9E9E;
        margin-bottom: 20px;
    }

    .about-box p {
        font-family: 'Comic Sans MS', 'Comic Sans', cursive;
        font-size: 20px;
        line-height: 1.8;
        color: #ffffff;
    }
