ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #32211A;
}

li {
    display: inline;
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.projectExamples {
    width: 90%;
    margin: 0 auto;
}

.projectBox {
    background: #FFFFFF;
    border: 1px solid #000000;
    float: left;
    margin: 10px;
    text-align: center;
    width: 31%;
}

.projectBox h4.semester {
    background:#32211A; 
    color: #FFFFFF;
    padding: 15px;
}

.projectBox img {
    margin-bottom: 20px;
}

.projectBox a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #FFFFFF;
    background: #32211A;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 1px;
}
footer {
    clear: left;
}
