table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid #000000;
    background-color: #EC6E5B;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

caption {
    color: #000000;
    font-size: 24px;
}

thead {
    background-color: #1BCAE4;
}

tr:nth-child(even) {
    background: #E4351B;
}